<router-outlet *ngIf= "!isBlockedCookies"></router-outlet>
<div *ngIf="isBlockedCookies">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p></ngx-spinner>
  <div class="login_cookie new_login_main">
    <div class="main">
      <div class="login-form">
        <div class="userInfo">
          <div class="logoBCPro">
            <div class="text-center margin-bottom-15 loginNewHeader">
              <img src="assets/img/smarterbiz_logo.png" alt="smarterbiz logo" class="login-logo">
              <div class="clearfix"></div>
            </div>
          </div>
          <h3>we can't sign you in</h3>
          <p>
            your browser is currently set to block cookies. You need to allow cookies to use this service
          </p>
          <p>
            Cookies are small text files stored on your computer that tell us when you're signed in.
          </p>
          </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div>
  <mat-toolbar color="transparent">
    <button mat-icon-button routerLink="/home">
      <mat-icon>bluetooth</mat-icon>
    </button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/user">Users</button>
  </mat-toolbar>
</div> 

<div class="animate-bottom">
  <router-outlet></router-outlet>
</div>
